<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ControllerName</key>
		<string>HeartController</string>
		<key>ControllerTitle</key>
		<string>懂心</string>
		<key>TabbarSelectImage</key>
		<string>wll1</string>
		<key>TabbarDiselectImage</key>
		<string>wll2</string>
	</dict>
	<dict>
		<key>ControllerName</key>
		<string>YouController</string>
		<key>ControllerTitle</key>
		<string>懂你</string>
		<key>TabbarSelectImage</key>
		<string>wll1</string>
		<key>TabbarDiselectImage</key>
		<string>wll2</string>
	</dict>
	<dict>
		<key>ControllerName</key>
		<string>LifeController</string>
		<key>ControllerTitle</key>
		<string>懂生活</string>
		<key>TabbarSelectImage</key>
		<string>wll1</string>
		<key>TabbarDiselectImage</key>
		<string>wll2</string>
	</dict>
	<dict>
		<key>ControllerName</key>
		<string>MineController</string>
		<key>ControllerTitle</key>
		<string>我的</string>
		<key>TabbarSelectImage</key>
		<string>wll1</string>
		<key>TabbarDiselectImage</key>
		<string>wll2</string>
	</dict>
</array>
</plist>
