<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ControllerName</key>
		<string>HomeController</string>
		<key>ControllerTitle</key>
		<string>首页</string>
		<key>TabbarSelectImage</key>
		<string>首页选中</string>
		<key>TabbarDiselectImage</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>ControllerName</key>
		<string>FieldController</string>
		<key>ControllerTitle</key>
		<string></string>
		<key>TabbarSelectImage</key>
		<string>领域选中</string>
		<key>TabbarDiselectImage</key>
		<string>领域</string>
	</dict>
	<dict>
		<key>ControllerName</key>
		<string>MessageController</string>
		<key>ControllerTitle</key>
		<string>消息</string>
		<key>TabbarSelectImage</key>
		<string>消息选中</string>
		<key>TabbarDiselectImage</key>
		<string>消息</string>
	</dict>
	<dict>
		<key>ControllerName</key>
		<string>MineController</string>
		<key>ControllerTitle</key>
		<string>个人中心</string>
		<key>TabbarSelectImage</key>
		<string>个人中心选中</string>
		<key>TabbarDiselectImage</key>
		<string>个人中心</string>
	</dict>
</array>
</plist>
