<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的牛币</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我发布的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我卖出的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我买到的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我赞过的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的拍卖</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>发现咸鱼</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>帮助与反馈</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的牛币</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我发布的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我卖出的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我买到的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我赞过的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的拍卖</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>发现咸鱼</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>帮助与反馈</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我赞过的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的拍卖</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>发现咸鱼</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>帮助与反馈</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的牛币</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我发布的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我卖出的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的牛币</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我发布的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我卖出的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我买到的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我赞过的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的拍卖</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>发现咸鱼</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>帮助与反馈</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
