<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的订单</string>
			<key>desc</key>
			<string>查看全部订单</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我发布的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我收到的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我打赏的</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的牛币</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>牛13会员</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>会员特权</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>地址管理</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>今日推荐</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>联系客服</string>
			<key>desc</key>
			<string>13264090401</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我要合作</string>
			<key>desc</key>
			<string>www.cow13.com</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>头像</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>用户名</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>昵称</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>性别</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>出生日期</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>实名认证</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>账户安全</string>
			<key>desc</key>
			<string>0</string>
			<key>icon</key>
			<string>icon1</string>
			<key>isSelect</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
